/* 1 */
@media screen and (max-width: 749px) {
  .grid--peek.slider--mobile {
      margin: 0;
      width: 100%;
  }
}

/* 1 */
/* @media screen and (min-width: 750px) {
  .page-width {
      padding: 0 5rem;
  }
} */

/* 247 */
/* .page-width {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
} */

/* 262 */
@media screen and (min-width: 750px) {
  .page-width--narrow {
    padding: 0 9rem;
  }
}

/* 276 */
@media screen and (min-width: 990px) {
  .page-width--narrow {
    max-width: 72.6rem;
    padding: 0;
  }
}

/* 287 */
.isolate {
  position: relative;
  z-index: 0;
}

/* 348 */
.hidden {
  display: none !important;
}

/* 352 */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

/* 430 */
@media screen and (max-width: 749px) {
  .grid--peek.slider--mobile {
    margin: 0;
    width: 100%;
  }
}

/* 519 */
.caption {
  font-size: 1rem;
  letter-spacing: .07rem;
  line-height: calc(1 + .7);
}

/* 530 */
.caption-with-letter-spacing {
  font-size: 1rem;
  letter-spacing: .13rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* 547 */
.caption-large {
  line-height: 1.5;
  letter-spacing: .04rem;
}

/* 578 */
@media screen and (max-width: 749px) {
  .small-hide {
      display: none!important;
  }
}

/* 585 */
@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
      display: none!important;
  }
}

/* 590 */
@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}

/* 631 */
.link, .customer a {
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  text-underline-offset: .3rem;
  color: #fff;
  background-color: transparent;
  font-family: inherit;
}


/* 711 */
.break {
  word-break: break-word;
}

/* 732 */
.underlined-link, .customer a {
  color: #212121;
  text-underline-offset: .3rem;
  text-decoration-thickness: .1rem;
  transition: text-decoration-thickness ease .1s;

  text-decoration: underline;
}

/* 740 */
.underlined-link:hover, .customer a:hover {
  color: #212121;
  opacity: 0.8;
  text-decoration-thickness: .2rem;
}

/* 823 */
:focus {
  outline: 0;
  box-shadow: none;
}

/* 828 */
:focus-visible {
  outline: .1rem solid rgba(255, 255, 255,.5);
  outline-offset: .1rem;
  box-shadow: 0 0 0 .1rem rgb(255, 255, 255),0 0 .5rem .4rem rgba(255, 255, 255,.3);
}

/* 903 */
.title, .title-wrapper-with-link {
  margin: 3rem 0 2rem;
}

/* 908 */
.title-wrapper-with-link .title {
  margin: 0;
}

/* 920 */
.title-wrapper-with-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

/* 929 */
.title--primary {
  margin: 4rem 0;
}

/* 981 */
.title-wrapper-with-link a {
  color: #fff;
  margin-top: 0;
  flex-shrink: 0;
}

/* 1014 */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: 4px;
  row-gap: 4px;
}

/* 1025 */
@media screen and (min-width: 750px) {
  .grid {
    column-gap: 8px;
    row-gap: 8px;
  }
}

/* 1035 */
.grid__item {
  width: calc(25% - 3px);
  max-width: calc(50% - 2px);
}

/* 1043 */
@media screen and (min-width: 750px) {
  .grid__item {
    width: calc(25% - 6px);
    max-width: (50% - 4px);
  }
}

/* 1061 */
.grid--1-col .grid__item {
  max-width: 100%;
  width: 100%;
}

/* 1093 */
@media screen and (min-width: 750px) {
  .grid--2-col-tablet .grid__item {
    width: calc(50% - 4px);
  }
}

/* 1160 */
@media screen and (max-width: 749px) {
  .grid--peek.slider--mobile .grid__item {
      box-sizing: content-box;
      margin: 0;
  }
}


@media screen and (max-width: 749px) {
  /* 1169 */
  .grid--peek.slider .grid__item:first-of-type {
      margin-left: 1.5rem;
  }

  /* 1177 */
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - 2px);
  }
}

/* 1221 */
.media {
  display: block;
  background-color: black;
  position: relative;
  overflow: hidden;
}

/* 1223 */
.media>*:not(.zoom):not(.deferred-media__poster-button), .media model-viewer {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* 1228 */
.media--transparent {
  background-color: transparent;
}

/* 1231 */
.media > :not(.zoom):not(.deferred-media__poster-button),
.media model-viewer {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* 1324 */
.customer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  appearance: none;
}

/* 1667 */
.customer .field input,
.customer select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease;
  border-radius: 0;
  height: 4.5rem;
  min-height: 2px;
  min-width: calc(7rem + 2px);
  position: relative;
  border: 0;
}

/* 1687 */
.field::before,
.select::before,
.customer .field::before,
.customer select::before,
.localization-form__select::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--inputs-radius-outset);
  box-shadow:
    var(--inputs-shadow-horizontal-offset)
    var(--inputs-shadow-vertical-offset)
    var(--inputs-shadow-blur-radius)
    rgba(255, 255, 255, var(--inputs-shadow-opacity));
  z-index: -1;
}

/* 1704 */
.field::after,
.select::after,
.customer .field::after,
.customer select::after,
.localization-form__select::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: .1rem solid transparent;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.55);
  transition: box-shadow 0.1s ease;
  z-index: 1;
}

/* 1731 */
.field:hover.field::after,
.select:hover.select::after,
.select__select:hover.select__select::after,
.customer .field:hover.field::after,
.customer select:hover.select::after,
.localization-form__select:hover.localization-form__select::after {
  box-shadow: 0 0 0 calc(.1rem + 1px) rgba(0, 0, 0, 0.55);
  outline: 0;
  border-radius: 0;
}

/* 1767 */
.text-area,
.select {
  display: flex;
  position: relative;
  width: 100%;
}

/* 1776 */
.select .icon-caret,
.customer select + svg {
  height: .6rem;
  pointer-events: none;
  position: absolute;
  top: calc(50% - .2rem);
  right: calc(1px + 1.5rem);
}

/* 1785 */
.select__select,
.customer select {
  cursor: pointer;
  line-height: 1.6;
  padding: 0 2rem;
  margin: 1px;
  min-height: 2px;
}

/* 1796 */
.field {
  position: relative;
  width: 100%;
  display: flex;
  transition: box-shadow .1s ease;
}

/* 1803 */
.customer .field {
  display: flex;
}

/* 1807 */
.field--with-error {
  flex-wrap: wrap;
}

/* 1811 */
.field__input,
.customer .field input {
  flex-grow: 1;
  text-align: left;
  padding: 1.5rem;
  margin: 1px;
  transition: box-shadow .1s ease;
}

/* 1820 */
.field__label,
.customer .field label {
  font-size: 1.6rem;
  left: calc(1px + 2rem);
  top: calc(1rem + 1px);
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  transition: top .1s ease, font-size .1s ease;
  color: #212121;
  letter-spacing: .1rem;
  line-height: 1.5;
}

/* 1835 */
.field__input:focus ~ .field__label,
.field__input:not(:placeholder-shown) ~ .field__label,
.customer .field input:focus ~ label,
.customer .field input:not(:placeholder-shown) ~ label {
  font-size: 1rem;
  top: calc(1px + 0.5rem);
  left: calc(1px + 2rem);
  letter-spacing: 0.04rem;
}

/* 1847 */
.field__input:focus,
.field__input:not(:placeholder-shown),
.customer .field input:focus,
.customer .field input:not(:placeholder-shown) {
  padding: 2.2rem 1.5rem 0.8rem 2rem;
  margin: 0;
}

.field__input::placeholder,
.customer .field input::placeholder {
  opacity: 0;
}

/* 1867 */
.field__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: currentColor;
  cursor: pointer;
  display: flex;
  height: 4.4rem;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.4rem;
}

/* 1884 */
.field__button > svg {
  height: 2.5rem;
  width: 2.5rem;
}

/* 1897 */
.text-area {
  min-height: 10rem;
}

/* 1905 */
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: .5rem;
}

/* 1918 */
.form__message {
  align-items: center;
  display: flex;
  line-height: 1;
  margin-top: 1rem;

  text-align: left;
}

/* 1935 */
.form__message .icon,
.customer .form__message svg {
  flex-shrink: 0;
  height: 1.3rem;
  margin-right: .5rem;
  width: 1.3rem;
}

/* 1943 */
.form__message--large .icon,
.customer .form__message svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

/* 1973 */
.quantity {
  color: #fff;
  position: relative;
  width: calc(14rem + 2px);
  display: flex;
  border-radius: 0;
  min-height: (4.5rem + 2px);
}

/* 1997 */
.quantity::before {
  background-color: #1e1e1e;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* 2011 */
.quantity__input {
  color: currentColor;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: .85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0 .5rem;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

/* 2026 */
.quantity__button {
  width: 4.5rem;
  flex-shrink: 0;
  font-size: 1.8rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0;
}

/* 2048 */
.quantity__button svg {
  width: 1rem;
  pointer-events: none;
}

/* 2065 */
.quantity__button:not(:focus-visible):not(.focused),
.quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.quantity__input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

/* 2792 */
.badge {
  border: 1px solid transparent;
  border-radius: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 1;
  padding: 0.5rem 1.3rem 0.6rem;
  text-align: center;
  background-color: rgb(51, 79, 180);
  border-color: rgba(51, 79, 180, 1);
  color: white;
  word-break: break-word;
}

/* 2823 */
.ratio {
  display: flex;
  position: relative;
  align-items: stretch;
}

/* 2829 */
.ratio::before {
  content: "";
  width: 0;
  height: 0;
  padding-bottom: var(--ratio-percent);
}