/* 1 */
.facet-filters__field .select__select {
  border-radius: 0;
  min-width: auto;
  min-height: auto;
  transition: none;
}

/* 2 */
.facets-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  padding-top: 1rem;
}

/* 35 */
.facet-filters {
  align-items: flex-start;
  display: flex;
  grid-column: 2;
  grid-row: 1;
  padding-left: 2.5rem;
}

/* 44 */
@media screen and (min-width: 990px) {
  .facet-filters {
    padding-left: 3rem;
  }
}

/* 49 */
.facet-filters__label {
  display: block;
  color: white;
  font-size: 1.4rem;
  margin: 0 2rem 0 0;
}

/* 73 */
.facet-filters__field {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* 80 */
.facet-filters__field .select {
  width: auto;
}

/* 103 */
.facet-filters__sort {
  background-color: black;
  border: 0;
  border-radius: 0;
  font-size: 1.4rem;
  height: auto;
  line-height: 1.5;
  margin: 0;
  padding-left: 0;
  padding-right: 1.75rem;
}

/* 126 */
.facet-filters__sort, .facet-filters__sort:hover {
  box-shadow: none;
  filter: none;
  transition: none;
}

/* 168 */
.facets {
  display: block;
  grid-column-start: span 2;
}

/* 189 */
.facets__heading {
  display: block;
  color: white;
  font-size: 1.4rem;
  margin: 1.5rem 2rem 0 0;
}

.facets__summary span {
  transition: text-decoration var(--duration-short ease);
}


/* 204 */
.facets__summary {
  color: white;
  font-size: 1.4rem;
  padding: 0 1.75rem 0 0;
  margin-bottom: 1.5rem;
}

/* 223 */
.facets__disclosure[open].facets__display,
.facets__disclosure-vertical[open] .facets__display-vertical {
  animation: animateMenuOpen var(--duration-default) ease;
}

/* 244 */
.facets__summary .icon-cart {
  right: 0;
}

/* 279 */
.facets__item {
  display: flex;
  align-items: center;
}

/* 285 */
.facets__item label, .facets__item input[type=checkbox] {
  cursor: pointer;
}

/* 298 */
.facet-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: -0.4rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

/* 314 */
.facet-checkbox>svg {
  background-color: white;
  margin-right: 1.2rem;
  flex-shrink: 0;
}

/* 320 */
.facet-checkbox .icon-checkmark {
  color: black;
  visibility: hidden;
  position: absolute;
  left: 0.3rem;
  z-index: 5;
  top: 1.4rem;
}

/* 347 */
.facets__price {
  display: flex;
  padding: 2rem;
}

/* 356 */
.facets__price .field {
  align-items: center;
}

/* 360 */
.facets__price .field-currency {
  align-self: center;
  margin-right: 0.6rem;
}

/* 365 */
.facets__price .field__label {
  left: 1.5rem;
}

/* 381 */
.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: 0.5rem;
}

/* 390 */
.active-facets__button {
  display: block;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-decoration: none;
}

/* 399 */
span.active-facets__button-inner {
  color: white;
  border-radius: 2.6rem;
  font-size: 1rem;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: stretch;

}

/* 416 */
.active-facets__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

/* 423 */
.active-facets__button-wrapper * {
  font-size: 1rem;
}

/* 428 */
@media screen and (min-width: 900px) {
  .active-facets__button {
    margin-right: 1.5rem;
  }
}

/* 433 */
@media screen and (min-width: 990px) {
  .active-facets__button-wrapper *,
  span.active-facets__button-inner {
    font-size: 1.4rem;
  }
}

/* 464 */
.active-facets__button--light .active-facets__button-inner {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, .2);
}

/* 525 */
.facets-vertical .active-facets .active-facets-vertical-filter:only-child > facet-remove {
  display: none;
}

/* 529 */
.facets-vertical .active-facets-vertical-filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* 535 */
.facets-vertical .active-facets-vertical-filter .active-facets__button-wrapper {
  padding-top: 0;
  display: flex;
  align-items: flex-start;
}

/* 541 */
.facets-vertical .active-facets__button {
  margin-top: 0;
}

/* 780 */
.mobile-facets__summary > div,
.facets__summary > div {
  display: flex;
  align-items: center;
}

/* 933 */
.product-count__text {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
}

/* 958 */
@media screen and (min-width: 750px) {
  .facets-vertical {
    display: flex;
  }
}

/* 962 */
@media screen and (min-width: 750px) {
  .facets-wrap-vertical {
    border: none;
    padding-left: 0;
  }
}

/* 967 */
@media screen and (min-width: 750px) {
  .facets__form-vertical {
    display: flex;
    flex-direction: column;
    width: 26rem;
  }
}

/* 973 */
@media screen and (min-width: 750px) {
  .facets__disclosure-vertical {
    border-top: 0.1rem solid white;
    margin-right: 0;
  }
}

/* 978 */
@media screen and (min-width: 750px) {
  .facets-vertical .facets__summary {
    padding-top: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
}

/* 994 */
@media screen and (min-width: 750px) {
  .facets__display-vertical {
    padding-bottom: 1.5rem;
  }
}

/* 1014 */
@media screen and (min-width: 750px) {
  .facets-vertical-form {
    display: flex;
    justify-content: flex-end;
  }
}

/* 1019 */
@media screen and (min-width: 750px) {
  .product-count-vertical {
    margin-left: 3.5rem;
  }
}

/* 1023 */
@media screen and (min-width: 750px) {
  .facets-vertical .active-facets__button-wrapper {
    margin-bottom: 2rem;
  }
}

/* 1046 */
@media screen and (min-width: 750px) {
  .facets-vertical .active-facets__button {
    margin-bottom: 1.5rem;
  }
}

/* 1055 */
@media screen and (min-width: 750px) {
  .facets-vertical .facet-checkbox input[type=checkbox] {
    z-index: 0;
  }
}

/* 1064 */
@media screen and (min-width: 750px) {
  .facets-vertical .active-facets facet-remove:last-of-type {
    margin-bottom: 1rem;
  }
}

/* 1073 */
@media screen and (min-width: 750px) {
  .facets__disclosure-vertical[open] .facets_summary .icon-cart {
    transform: rotate(180deg);
  }
}

/* 1 */
@media screen and (min-width: 750px) {
  .facets-vertical .active-facets {
    margin: 0;
    align-items: flex-start;
  }
}

/* 1 */
@media screen and (min-width: 750px) {
  .facets__heading--vertical {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
  }
}

/* 1 */
.facet-checkbox {
  padding: 1rem 2rem 1rem 0;
  flex-grow: 1;
  position: relative;
  font-size: 1.4rem;
  display: flex;
  word-break: break-word;
}

/* 1 */
@media screen and (min-width: 750px) {
  .facets-vertical .facets__price {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}