/* h1.alternate */
.cart h1.alternate {
  font-size: 3rem;
  margin-bottom: 0;
}

h1.alternate {
  text-align: center;
  padding: 0.625rem 0;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 990px) {
  .cart h1.alternate {
    font-size: 4.25rem;
    margin-bottom: 0.65rem;
    padding: 15px 0;
  }
}

/* div#cart-container.container */
.cart #cart-container {
  padding-bottom: 15px;
}

/* div.cart-with-items */

/* div.row */

/* div#cart-item-list.cart-items.col-lg-9 */

/* div.row.header */
.cart .cart-items .header {
  display: none;
  padding: 0;
  font-size: 1.50rem;
}

@media (min-width: 990px) {
  .cart .cart-items .header {
    display: flex;
    margin-bottom: 0.5rem;
  }
}

/* div.col-4 */

/* div.col-2 */

/* div.col-3 */

/* div.col-3 */

/* div.row.cart-item */
.cart .cart-items .cart-item {
  padding-bottom: 1rem;
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item {
    padding-bottom: 0.25rem;
  }
}

/* div.row.cart-item::before */
@media (min-width: 990px) {
  .cart .cart-items .cart-item::before {
    border-top: 1px solid #ccc;
  }
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item::before, .cart .cart-items .cart-item::after {
    content: '';
    display: block;
    width: calc(100% - 30px);
    margin: 0 15px 1rem;
  }
}


/* div.col-lg-4.product-info */
.cart .cart-items .cart-item .product-info,
.cart .cart-items .cart-item .delivery-info {
  margin-bottom: 1rem;
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item .product-info, .cart .cart-items .cart-item .delivery-info {
    margin-bottom: 0;
  }
}

/* div.col-lg-4.product-info::before */
.cart .cart-items .cart-item .product-info::before,
.cart .cart-items .cart-item .delivery-info::before,
.cart .cart-items .cart-item .price-info::before {
  content: '';
  display: block;
  margin-bottom: 1rem;
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item .product-info::before,
  .cart .cart-items .cart-item .delivery-info::before,
  .cart .cart-items .cart-item .price-info::before {
    margin-bottom: 0;
    border-top: 0;
  }
}

/* div.row */

/* div.image-col.col-3.col-lg-5 */
.cart .cart-items .cart-item .product-info .image-col {
  padding-right: 0;
}

/* div.product-listing-image */
.product-listing-image {
  position: relative;
  overflow: hidden;
}

/* img.item */
.product-listing-image img.item {
  position: relative;
  width: 100%;
  height: auto;
}

/* div.col */

/* div.row */

/* div.detail-group col-12 */
.cart .cart-items .cart-item .product-info .detail-group {
  margin-bottom: 0.5rem;
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item .product-info .detail-group {
    margin-bottom: 1rem;
  }
}

/* strong.label */
.cart .cart-item .detail-group .label {
  display: block;
  
  font-size: 1.65rem;
}

/* div.manage-link.col-12 */

/* button.as-arrows-link[type="button"] */

/* button.as-arrows-link[type="button"]::after */

/* div.col-lg-12 delivery-info */

@media (min-width: 990px) {
  .cart .cart-items .cart-item .product-info,
  .cart .cart-items .cart-item .delivery-info {
    margin-bottom: 0;
  }
}

/* div.col-lg-12 delivery-info::before */

@media (min-width: 990px) {
  .cart .cart-items .cart-item .product-info::before, .cart .cart-items .cart-item .delivery-info::before, .cart .cart-items .cart-item .price-info::before {
    margin-bottom: 0;
    border-top: 0;
  }
}

/* div.row.date-details */

/* div.detail-group.col-7.col-lg-12 */

/* strong.label */
.cart .cart-items .cart-item .delivery-info .label,
.cart .cart-items .cart-item .delivery-info .info {
  display: inline-block;
}

.cart .cart-items .cart-item .delivery-info .info {
  font-size: 1.3rem;
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item .delivery-info .label,
  .cart .cart-items .cart-item .delivery-info .info {
    display: block;
  }
}

/* span.info */

/* div.manage-link.col-5.col-lg-12 */
.cart .cart-items .cart-item .delivery-info .manage-link,
.cart .cart-items .cart-item .card-info .manage-link {
  text-align: right;
  padding-left: 0;
}

@media (min-width: 992px) {
  .cart .cart-items .cart-item .delivery-info .manage-link,
  .cart .cart-items .cart-item .card-info .manage-link {
    order: 13;
    text-align: left;
    padding-left: 15px;
  }
}

/* button.as-arrows-link[type="button"] */

/* button.as-arrows-link[type="button"]::after */

/* div.detail-group.col-12 */

/* strong.label */

/* span.info */

/* div.col-lg-3.card-info */

/* div.row.card-details */

/* div.card-message.detail-group.col-8.col-lg-12 */
@media (min-width: 990px) {
  .cart .cart-items .cart-item .detail-group {
    margin-bottom: 1.2rem;
  }
}

/* strong.label */

/* span.info */
@media (max-width: 989px) {
  .cart .cart-items .cart-item .detail-group.card-message .info {
    min-width: 75vw;
    margin-bottom: 1rem;
  }
}

.cart .cart-item .detail-group .info {
  display: block;
  font-size: 1.3rem;
}

/* div.manage-link.col-4.col-lg-12 */

/* button.as-arrows-link[type="button"] */

/* button.as-arrows-link[type="button"]::after */

/* div.card-signature.detail-group.col-8.col-lg-12 */

/* strong.label */

/* span.info */

/* div.col-lg-3.price-info */
.cart .cart-items .cart-item .price-info {
  font-size: 1.4rem;
}

.cart .cart-items .cart-item .price-info {
  display: none;
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item .price-info {
    display: block;
  }
}

/* div.row.product-price */
@media (min-width: 990px) {
  .cart .cart-items .cart-item .price-info .row {
    margin-bottom: 1.2rem;
  }
}

/* div.col.name */
.cart .cart-items .cart-item .price-info .name {
  flex-grow: 2;
}

/* div.col.price */
.cart .cart-items .cart-item .price-info .price {
  flex-grow: 1;
  text-align: right;
  min-width: 50%;
}

/* s */

/* div.row.product-upgrade-price */
.cart .cart-items .cart-item .price-info .product-upgrade-price {
  margin-top: 0.5rem;
}

/* div.col.name */

/* div.col.price */

/* div.row.cart-item::after */

@media screen and (min-width: 990px) {
  .cart .cart-items .cart-item:last-child::after {
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 990px) {
  .cart .cart-items .cart-item::after {
    margin: 1rem 15px 0;
  }
}

/* div.order-summary.col-lg-3 */
@media (min-width: 990px) {
  .order-summary {
    padding-top: 2rem;
  }
}

/* div.order-summary-details */
.order-summary .order-summary-details {
  background-color: #ececec;
  padding: 0.35rem 1rem 1rem;

  color: #212121;
}

/* p.order-summary-header */
.order-summary .order-summary-details .order-summary-header {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  line-height: 2;

  font-size: 1.75rem;
  margin-bottom: 1rem;
}

/* div.line-items */
.order-summary .order-summary-details .line-items {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.7rem;
  line-height: 1.2;
}

@media (min-width: 990px) {
  .order-summary .order-summary-details .line-items {
    margin-bottom: 0.65rem;
  }
}

/* div.cart-item */

/* div.line-item.item-summary */

.order-summary .order-summary-details .line-items .line-item {
  margin-bottom: 1.5rem;
}

.line-items .line-item {
  display: flex;
  flex-wrap: wrap;
}

/* div.label */
.line-items .line-item .label {
  flex: 2 1 60%;
}

/* span.name */
.order-summary .order-summary-details .line-items .line-item .label .name {
  display: block;
  font-size: 1.65rem;
}

/* div.cost */
.line-items .line-item .cost {
  flex: 1 1 40%;
  text-align: right;
}

/* s */

/* div.line-item.item-upgrades-summary */
.order-summary .order-summary-details .line-items .line-item.item-upgrades-summary {
  font-size: 1.25rem;
}

/* div.label */

/* div.cost */

/* div.line-item.item-upgrades-summary */

/* div.label */

/* div.cost */

/* form.discount-form */
.discount-form {
  text-align: right;
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

/* label[for="discount-code"] */
.discount-form label {
  font-size: 1.1rem;
  margin-bottom: .35rem;
}

/* div.form-group */
.discount-form .form-group {
  display: flex;
  justify-content: flex-end;
}

.form-group {
  margin-bottom: 1rem;
}

/* input#discount-code.form-control */
.discount-form .form-group .form-control {
  margin-right: 4px;
}

.discount-form .form-group .form-control,
.discount-form .form-group .btn {
  display: inline-block;
  width: auto;
}

.form-control {
  height: calc(1.5em + .9rem + 2px);
  padding: .45rem .5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494949;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 990px) and (max-width: 1199.98px) {
  .discount-form .form-group .form-control {
    width: 65px;
  }
}

/* button.btn.btn-secondary */
#discount-form button:disabled {
  cursor: not-allowed;
}
#discount-form button:disabled:hover {
  text-decoration: none;
}

/* div.subtotals line-items */
.order-summary .order-summary-details .line-items.subtotals {
  border-bottom: 0;
}

/* div.subtotal.line-item.savings */
.order-summary .order-summary-details .line-items.subtotals .line-item {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.order-summary .order-summary-details .line-items .savings {
  color: #038740;
  font-weight: bold;
  text-transform: uppercase;
}

/* div.label */

/* div.cost */

/* subtotal line-item */

/* div.label */

/* div.cost */

/* div.proceed-to-checkout */
.proceed-to-checkout {
  position: relative;
  justify-content: center;
  align-items: center;
}

/* div.payment-buttons */

/* button.btn.btn-primary */
.proceed-to-checkout .btn-primary {
  width: 100%;
  margin-bottom: 1rem;
}

/* button.btn.btn-primary::after */

/* div.third-party-options */

/* div.third-party-buttons */
.proceed-to-checkout .third-party-options .third-party-buttons {
  width: 75%;
  max-width: 330px;
  margin: 0 auto;
}

/* div.cart-no-items */
.cart .cart-no-items {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.cart .cart-no-items a {
  font-weight: bold;
}