/* 13 */
.contact .field {
  margin-bottom: 1.5rem;
}
/* 23 */
.contact__button {
  margin-top: 3rem;
}

/* 34 */
@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

/* my styles */
.contact input,
.contact textarea {
  border: 1px solid rgb(var(--color-base-accent-2));
  background-color: rgba(0, 0, 0, 0.1);
}