/* 1 */
.product {
  margin: 0;
}
/* 1 */
.thumbnail.global-media-settings img {
  border-radius: 0;
}

/* 6 */
.product.grid {
  gap: 0;
}

/* 20 */
@media screen and (min-width: 750px) {
  .product__column-sticky {
    display: block;
    position: sticky;
    top: 3rem;
    z-index: 2;
  }
}

/* 27 */
@media screen and (min-width: 750px) {
  .product--thumbnail .thumbnail-list {
      padding-right: 0;
  }
}

/* 57 */
@media screen and (min-width: 990px) {
  .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 65%;
    width: calc(65% - 4px);
  }
}

/* 520 */
@media screen and (max-width: 749px) {
  .product__media-list .product__media-item {
      width: calc(100% - 3rem - 4px);
  }
}

/* 535 */
@media screen and (min-width: 750px) {
  .product__media-list {
    padding-right: 0;
  }
}

/* 540 */
@media screen and (min-width: 750px) {
  .product--thumbnail .product__media-item:not(.is-active), .product--thumbnail_slider .product__media-item:not(.is-active) {
      display: none;
  }
}

/* 553 */
.product__media-item.product__media-item--variant {
  display: none;
}

/* 557 */
.product__media-item--variant:first-child {
  display: block;
}

/* 562 */
@media screen and (min-width: 750px) and (max-width: 989px) {
  .product__media-list .product__media-item:first-child {
    padding-left: 0;
  }
}

/* 570 */
@media screen and (min-width: 750px) and (max-width: 989px) {
  .product__media-list .product__media-item {
    width: 100%;
  }
}

/* 575 */
.product__media-icon .icon {
  width: 1.2rem;
  height: 1.4rem;
}

/* 581 */
.product__media-icon, .thumbnail__badge {
  background-color: #fff;
  border-radius: 50%;
  border: 0.1rem solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  z-index: 1;
  transition: color .1s ease,opacity .1s ease;
}

/* 652 */
@media screen and (min-width: 990px) {
  .product:not(.product--columns) .product__media-list .product__media-item:first-child, .product:not(.product--columns) .product__media-list .product__media-item--full {
      width: 100%;
      max-width: 100%;
  }
}

/* 667 */
.product__media-item>* {
  display: block;
  position: relative;
}

/* 672 */
.product__media-toggle {
  display: flex;
  border: none;
  background-color: transparent;
  color: currentColor;
  padding: 0;
}

/* 1023 */
.product__media-list .media>* {
  overflow: hidden;
}

/* 1027 */
.thumbnail-list {
  flex-wrap: wrap;
  grid-gap: 1rem;
}

/* 1042 */
@media screen and (min-width: 750px) {
  .thumbnail-list {
      display: grid;
      grid-template-columns: repeat(4,1fr);
  }
}

/* 1048 */
.thumbnail-list_item--variant:not(:first-child) {
  display: none;
}

/* 1061 */
@media screen and (min-width: 990px) {
  .product--large .thumbnail-list {
      grid-template-columns: repeat(6,1fr);
  }
}

/* 1072 */
@media screen and (max-width: 749px) {
  .product__modal-opener {
    width: 100%;
  }
}

/* 1076 */
@media screen and (max-width: 749px) {
  .thumbnail-slider {
    display: flex;
    align-items: center;
  }
}

/* 1081 */
@media screen and (max-width: 749px) {
  .thumbnail-slider .thumbnail-list.slider {
    display: flex;
    padding: 0.5rem;
    flex: 1;
    scroll-padding-left: 0.5rem;
  }
}

/* 1088 */
@media screen and (max-width: 749px) {
  .thumbnail-list__item.slider__slide {
      width: calc(33% - 0.6rem);
  }
}

/* 1106 */
@media screen and (min-width: 750px) {
  .product__media-wrapper .slider-mobile-gutter .slider-button {
      display: none;
  }
}

/* 1129 */
.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  color: rgb(18, 18, 18);
  cursor: pointer;
  background-color: transparent;
}

/* 1150 */
.thumbnail[aria-current] {
  box-shadow: 0 0 0 0.1rem rgb(18, 18, 18);
  border-color: rgb(18, 18, 18);
}

/* 1185 */
.js .product__media {
  overflow: hidden !important;
}

/* 1211 */
.thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* 1243 */
.media>img {
  object-fit: cover;
  object-position: center center;
  transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
}

/* 1254 */
.thumbnail-list__item {
  position: relative;
}

/* 1258 */
.thumbnail-list__item:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* 1382 */
.product-media-container {
  --aspect-ratio: var(--preview-ratio);
  --ratio-percent: calc(1 / var(--aspect-ratio) * 100%);
  position: relative;
  width: 100%;
  max-width: calc(100% - calc(1px * 2));
}

/* 1404 */
.product-media-container .media {
  padding-top: 100%;
}

/* 1425 */
@media screen and (min-width: 750px) {
  .product-media-container {
      max-width: 100%;
  }
}

/* 1451 */
.product-media-container .product__modal-opener {
  display: block;
  position: relative;
}

/* 2907 */
.global-media-settings img, .global-media-settings iframe, .global-media-settings model-viewer, .global-media-settings video {
  border-radius: calc(0px - 1px);
}