/* 2 */
slider-component {
  --desktop-margin-left-first-item: max(5rem, calc((100vw - 1500px + 10rem - 4px)))
  position: relative;
  display: block;
}

/* 30 */
.slider__slide {
  --focus-outline-padding: .5rem;
  --shadow-padding-top: calc((4px * -1 + 5px) * 0);
  --shadow-padding-bottom: calc((4px + 5px) * 0);
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}

/* 40 */
@media screen and (max-width: 749px) {
  .slider.slider--mobile {
      position: relative;
      flex-wrap: inherit;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scroll-padding-left: 1.5rem;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 1rem;
  }
}

/* 58 */
@media screen and (max-width: 749px) {
  .slider.slider--mobile .slider__slide {
      margin-bottom: 0;
      padding-top: .5rem;
      padding-bottom: .5rem;
  }
}

/* 225 */
.slider {
  scrollbar-color: rgb(255, 255, 255) rgba(255, 255,.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 257 */
.slider-counter {
  display: flex;
  justify-content: center;
  min-width: 4.4rem;
}

/* 327 */

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 346 */
@media screen and (min-width: 750px) {
  .slider--mobile+.slider-buttons {
      display: none;
  }
}

/* 351 */
.slider-button {
  color: rgba(255, 255, 255,.75);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 367 */
.slider-button .icon {
  height: 0.6rem;
}

/* 371 */
.slider-button[disabled] .icon {
  color: rgba(255, 255, 255,.3);
  cursor: not-allowed;
}

/* 376 */
.slider-button--next .icon {
  transform: rotate(-90deg);
}

/* 380 */
.slider-button--prev .icon {
  transform: rotate(90deg);
}